<a href="https://colab.research.google.com/github/varuncode01/P_Anime_Recommendation_Project1/blob/main/Per_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Author  
**Varun Pal**

* ðŸ”— LinkedIn - www.linkedin.com/in/varun-pal-955ba0357

* Github - https://github.com/varuncode01

# **Project Name** - **Anime Recommendation Project using Flask**

In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Dataset Loading
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/P_Anime_Recommendation_Project1/anime.csv")

In [3]:
# Dataset View
df.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [4]:
# Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [5]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [6]:
df.nunique()

anime_id    12294
name        12292
genre        3264
type            6
episodes      187
rating        598
members      6706
dtype: int64

#### 1. Text Data Preprocessing

In [16]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
df['genre'] = df['genre'].astype(str)
df['type'] = df['type'].astype(str)

In [20]:
df['genre'] = df['genre'].str.lower()
df['type'] = df['type'].str.lower()

In [21]:
df[['type', 'genre']]

        type                                              genre
0      movie               drama, romance, school, supernatural
1         tv  action, adventure, drama, fantasy, magic, mili...
2         tv  action, comedy, historical, parody, samurai, s...
3         tv                                   sci-fi, thriller
4         tv  action, comedy, historical, parody, samurai, s...
...      ...                                                ...
12289    ova                                             hentai
12290    ova                                             hentai
12291    ova                                             hentai
12292    ova                                             hentai
12293  movie                                             hentai

[12294 rows x 2 columns]

In [22]:
exclude = string.punctuation

In [25]:
# Remove tags and punctuations
def remove_punc(text):
  for char in exclude:
    text = text.replace(char, '')
  return text

In [26]:
text2 = df['genre']
df['genre'] = remove_punc(text2)

In [34]:
df['unique_genres'] = df['genre'].unique()

ValueError: Length of values (3265) does not match length of index (12294)

In [33]:
unique_genres = unique_genres

array(['drama, romance, school, supernatural',
       'action, adventure, drama, fantasy, magic, military, shounen',
       'action, comedy, historical, parody, samurai, sci-fi, shounen',
       ..., 'hentai, sports', 'drama, romance, school, yuri',
       'hentai, slice of life'], dtype=object)

In [ ]:
features = ['genre', 'type', 'rating']

In [ ]:
for feature in feature:
  df[feature] = df[feature].fillna('')

TypeError: string indices must be integers, not 'str'

In [ ]:
df['combine'] = df['name']+' '+df['genre']+' '+df['type']+' '+df['rating']

TypeError: can only concatenate str (not "float") to str

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
 = ['name', 'genre', 'type',	'episodes',	'rating', 'members']
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
vectorizer.get_feature_names_out()
print(X)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 6)>
  Coords	Values
  (0, 3)	1.0
  (1, 1)	1.0
  (2, 5)	1.0
  (3, 0)	1.0
  (4, 4)	1.0
  (5, 2)	1.0